@tailwind base;
@tailwind components;
@tailwind utilities;

.vac-fade-message-enter {
  opacity: 0;
}

.vac-fade-message-enter-active {
  transition: opacity 0.5s;
}

.vac-fade-message-leave-active {
  transition: opacity 0.2s;
  opacity: 0;
}

.margin-t-5 {
  margin-top: 5rem;
}

.margin-x-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

nav {
  position: fixed;
  width: 100%;
  background-color: rgba(17, 24, 39, 1);
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(0, 0 0 #0000), var(0, 0 0 #0000), var(--shadow);
  top: 0px;

  z-index: 20;
}

nav > div {
  margin: 0 auto;
  max-width: 36rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 1rem;
}

nav h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
  line-height: 1.75rem;
}

nav h1 > strong {
  color: rgba(252, 165, 165, 1);
}

nav .login {
  right: 0px;
  display: flex;
  margin-left: auto;
}

nav button {
  color: rgba(255, 255, 255, 1);
  padding: 0.25rem;
  border-radius: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
}

.container-sm {
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }

  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}

.message {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.message span {
  margin-left: 2.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(107, 114, 128, 1);
}

.message .text {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgba(255, 255, 255, 1);
}

.bottom {
  position: fixed;
  bottom: 0px;
  background-color: rgba(17, 24, 39, 1);
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(0, 0 0 #0000), var(0, 0 0 #0000), var(--shadow);
  width: 100%;
}

.bottom form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bottom form input {
  flex-grow: 1;
  margin: 0.5rem;
  padding: 1rem 0.5rem;
  margin-right: 0.25rem;
  border-radius: 0.25rem;
  border-style: none;
  background-color: rgba(55, 65, 81, 1);
  color: rgba(255, 255, 255, 1);
}

.icon-send {
  color: rgba(107, 114, 128, 1);
  width: 3rem;
  height: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.icon-send :hover {
  color: rgba(16, 185, 129, 1);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(75, 85, 99, 1);
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(0, 0 0 #0000), var(0, 0 0 #0000), var(--shadow);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(209, 213, 219, 1);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(229, 231, 235, 1);
}
