
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}


body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}


b,
strong {
  font-weight: bolder;
}


code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}


small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}


button,
select {
  /* 1 */
  text-transform: none;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}


::-moz-focus-inner {
  border-style: none;
  padding: 0;
}


:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}


progress {
  vertical-align: baseline;
}


::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}


::-webkit-search-decoration {
  -webkit-appearance: none;
}


::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}


summary {
  display: list-item;
}


blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}


body {
  font-family: inherit;
  line-height: inherit;
}



*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

hr {
  border-top-width: 1px;
}


img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}


a {
  color: inherit;
  text-decoration: inherit;
}



button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}



pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}


img,
video {
  max-width: 100%;
  height: auto;
}

*,
::before,
::after {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
}

.vac-fade-message-enter {
  opacity: 0;
}

.vac-fade-message-enter-active {
  transition: opacity 0.5s;
}

.vac-fade-message-leave-active {
  transition: opacity 0.2s;
  opacity: 0;
}

.margin-t-5 {
  margin-top: 5rem;
}

.margin-x-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

nav {
  position: fixed;
  width: 100%;
  background-color: rgba(17, 24, 39, 1);
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(0, 0 0 #0000), var(0, 0 0 #0000), var(--shadow);
  top: 0px;

  z-index: 20;
}

nav > div {
  margin: 0 auto;
  max-width: 36rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 1rem;
}

nav h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
  line-height: 1.75rem;
}

nav h1 > strong {
  color: rgba(252, 165, 165, 1);
}

nav .login {
  right: 0px;
  display: flex;
  margin-left: auto;
}

nav button {
  color: rgba(255, 255, 255, 1);
  padding: 0.25rem;
  border-radius: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
}

.container-sm {
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }

  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}

.message {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.message span {
  margin-left: 2.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(107, 114, 128, 1);
}

.message .text {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgba(255, 255, 255, 1);
}

.bottom {
  position: fixed;
  bottom: 0px;
  background-color: rgba(17, 24, 39, 1);
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(0, 0 0 #0000), var(0, 0 0 #0000), var(--shadow);
  width: 100%;
}

.bottom form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bottom form input {
  flex-grow: 1;
  margin: 0.5rem;
  padding: 1rem 0.5rem;
  margin-right: 0.25rem;
  border-radius: 0.25rem;
  border-style: none;
  background-color: rgba(55, 65, 81, 1);
  color: rgba(255, 255, 255, 1);
}

.icon-send {
  color: rgba(107, 114, 128, 1);
  width: 3rem;
  height: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.icon-send :hover {
  color: rgba(16, 185, 129, 1);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(75, 85, 99, 1);
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(0, 0 0 #0000), var(0, 0 0 #0000), var(--shadow);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(209, 213, 219, 1);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(229, 231, 235, 1);
}
